<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pt.lobo.java.intro.tutorial.database.guicemappers.ClienteMapper">

	<select id="getClienteList" resultType="Cliente">
		select
			cliente_id clienteId,
			empresa,
			pais,
			servidor
		from maxmailing_clientes
		where cliente_id=#{id}
	</select>

	<select id="getCliente" resultType="Cliente">
		select
			cliente_id clienteId,
			empresa,
			pais,
			servidor
		from maxmailing_clientes
		where cliente_id=#{id}
	</select>

</mapper>